* {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  
  width: 100%;
  background-color: #001529;
  color: aliceblue;
  height: 3.75em;
  line-height: 3.75em;
  justify-content: space-between;
  gap: 1em;
}
a{
  color: aliceblue;
}
.lista {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  gap: 1em;
}
li:hover {
  background-color: #1890ff;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .5s;
}
li {
  padding: .2em;
}
.encabezado{
  width: 100%;
}
body {
    background: linear-gradient(#ffffff34,#ffffff49) ,url("../../public/playas.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 110% ;
    width: 100%;

}
